/* Form.css */

.signin {
    background-color:#f2f2f2; /* Change the background color to blue */
    padding: 10px;
    border-radius: 5px;
    width: 500px; /* Adjust the width to your desired size */
    max-width: 100%; /* Add a max-width to ensure responsiveness */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  